.Rproj.user
.Rhistory
.RData
.Ruserdata
.xlsx
.rds
.docx
manuscript/**
.httr-oauth
video/**

# Ignore everything
*

# But not these files...
!.gitignore
!app.R
!report3.Rmd
!www/*
!scripts/helper_scripts.R
README.md
